[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
langchain = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
pinecone-client = "*"
nltk = "*"
python-magic-bin = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
tqdm = "*"
python-dotenv = "*"
langchain-openai = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
